* {
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}

.Box-list {
  display: flex;
  justify-content: center;
}

.Box:first-child {
  margin-right: 20px;
}

.Box {
  width: 420px;
  padding: 30px;
  border: 5px solid #ccc;
}

.Box img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.btn-list {
  margin-top: 20px;
}

.btn-list button {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
  margin-right: 5px;
}

.btn-list button:last-child {
  margin-right: 0;
}

.win {
  border: 5px solid green
}

.lose {
   border: 5px solid red
}

.tie {
   border: 5px solid black
}